[Desktop Entry]
Type=Application
Name=Iris
Comment=Image and Metadata Viewer
Exec=iris %f
Icon=iris
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/webp;image/bmp;image/gif;image/avif;image/heif;image/x-icns;
StartupNotify=true
StartupWMClass=iris
